@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<body>
    <h1>Get to Know Joel</h1>
    <p>Welcome to the "Get to Know Joel" page!</p>

    <!-- Link to Quick Wits Comedy -->
    <p>Check out Joel's performances at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>.</p>

    <!-- Link to Baconsale site -->
    <p>Explore more with Joel on the <a href="https://baconsale.com/">Baconsale site</a>.</p>

    <!-- Photo linking to Baconsale site -->
    <a href="https://baconsale.com/">
        <img src="~/lib/BaconsaleKate.jpg" height="500"/>
    </a>




</body>
